.text-shadow{
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
}

.grey-text{
    color: #fff !important;
}

/* Navbar */
.nav-black{
    background-color: #2D2327;
    color: #F0E2E7;
}

.nav-btn{
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 15px;
   margin-right: 15px;
}

.nav-link:hover{
    text-decoration: underline;
    text-decoration-color: #6DD3CE;
    text-decoration-thickness: 2px;
}

/* Card Styles*/
.card, .card-panel{
    background-color: #2D2327;
    border: 2px solid #6DD3CE;
    border-radius: 10px;
    color: #F0E2E7;
}

.card .card-reveal{
    background-color: #2D2327;
    color: #F0E2E7;
}

.card-category{
    margin: 10px 8px;
}

.card-image{
    width: 80%;
    margin: 0 auto;
}

.btn-border{
    background-color: #2D2327;
    border: 2px solid #6DD3CE;
    border-radius: 10px;
    color: #F0E2E7;
}

.btn-solid{
    background-color: #6DD3CE;
    border: 2px solid #6DD3CE;
    border-radius: 10px;
    color: #2D2327;
}
.btn-solid a{
    font-weight: 400;
    color: #2D2327;
    text-shadow: none;
}

.btn-color{
    color: #6DD3CE;
}

/* Forms */