.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
}

.grey-text {
    color: #fff !important;
}

.capitalize{
    text-transform: capitalize;
}

/* Navbar */
.nav-black {
    background-color: #2D2327;
    color: #F0E2E7;
}

.brand-logo{
    margin-left: 1em;
}

.nav-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-right: 15px;
}

.nav-link:hover {
    text-decoration: underline;
    text-decoration-color: #6DD3CE;
    text-decoration-thickness: 2px;
}

/* Hero Container */
.container {
    width: 100%;
    margin: 0 auto;
    max-width: 100%;
}

.hero-container {
    background-color: #2D2327;
    width: 100%;
    height: auto;
    padding: 0 2em;
    color: #F0E2E7;
}

.large-text {
    font-size: 20px;
}

.hero-btns {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.hero-btns a {
    margin: 5px;
}

/* Home Page Search Area */
.add-asset-btn a {
    font-size: 25px;
    color: #2D2327;
}

.fa-search {
    color: #2D2327;
}

.search-bar {
    color: #2D2327;
}

::placeholder {
    color: #6DD3CE;
}
/* Card Styles*/
.card {
    display: flex;
    flex-direction: column;
    min-height: 372px;
}

.card,
.card-panel {
    background-color: #2D2327;
    border: 2px solid #6DD3CE;
    border-radius: 10px;
    color: #F0E2E7;
}

.card .card-reveal {
    background-color: #2D2327;
    color: #F0E2E7;
}

.card-reveal h5 {
    margin-top: 0;
    padding-top: 1em;
}

.card-category {
    margin: 10px 8px;
}

.card-image {
    width: 80%;
    height: 50%;
    margin: 0 auto;
}

.card-image img {
    min-height: 200px;
    max-height: 200px;
}

.card-panel-btn{
    margin: 5px;
}

/* Buttons */
.btn-border {
    background-color: transparent;
    border: 2px solid #6DD3CE;
    border-radius: 10px;
    color: #F0E2E7;
}

.btn-solid {
    background-color: #6DD3CE;
    border: 2px solid #6DD3CE;
    border-radius: 10px;
    color: #2D2327;
}

.btn-solid a {
    font-weight: 400;
    color: #2D2327;
    text-shadow: none;
}

.btn-color {
    color: #6DD3CE;
}

.btn-edit {
    margin-right: 1em;
    color: #F0E2E7;
    border: 1px solid #6DD3CE;
    border-radius: 5px;
    padding: 2px 3px;
}

.btn-edit:hover {
    color: #2D2327;
    background-color: #6DD3CE;
    transition: 500ms;
}

.card-header {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}

/* Forms */
form input,
form textarea {
    color: #F0E2E7;
}

.btn-solid-red {
    background-color: #2D2327;
    border: 2px solid #d71f53;
    border-radius: 10px;
    color: #F0E2E7;
}

.btn-solid-red:hover {
    background-color: #d71f53;
    transition: 500ms;
}

/* Edit Page */

.form-card-panel {
    width: 70%;
    background-color: #2D2327;
    border: 2px solid #6DD3CE;
    border-radius: 10px;
    padding: 2.5em 2em;
    color: #F0E2E7;
}

/* Delete Modal */
.modal {
    background-color: #2D2327;
    border: 2px solid #d71f53;
    border-radius: 10px;
    color: #F0E2E7;
}

.modal-content p {
    font-size: 30px;
    text-decoration: underline;
}

@media (max-width: 500px) {
    .form-card-panel {
        width: 90%;
    }

    .hero-btns {
        width: 100%;
    }
}

@media (max-width: 820px) {
    .search-area {
        display: block;
    }

    .hero-btns {
        width: 50%;
    }
}