{% extends "base.html" %}
{% block content %}

<!-- Hero Title -->
<div class="hero-container">
  <div class="row">
    <div class="col s12 m8">
      <div class="hero-title">
        <h1>Tools Created For Your Imagination</h1>
        {% if session.user %}
        <div class="hero-btns" style="display: none;">
          <a href="{{ url_for('signIn') }}" class="btn btn-border">Sign In</a>
          <a href="{{ url_for('register')}}" class="btn btn-solid">Register</a>
        </div>
        {% else %}
        <div class="hero-btns">
          <a href="{{ url_for('signIn') }}" class="btn btn-border">Sign In</a>
          <a href="{{ url_for('register')}}" class="btn btn-solid">Register</a>
        </div>
        {% endif %}
      </div>
    </div>
    <!-- Hero About -->
    <div class="col s12 m8">
      <div class="hero-about">
        <h2>The Dev Pool</h2>
        <p class="large-text">A pool of assets some of the best in the business use.
          Compiled by the Dev Community for the Dev Community.
        </p>
        <div class="row">
          <div class="col s12 center-align">
            <div class="hero-btns">
              <a href="#explore" class="btn btn-solid-red">Explore</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<h2 class="center-align" id="explore">Explore</h2>


<div class="row">
  <form action="{{ url_for('search_assets') }}" method="POST" class="col s12 m12">
    <div class="row">
      <!-- Add Asset Button-->
      {% if session.user %}
      <div class="search-area valign-wrapper center-align">
        <div class="col s12 m12 l6 add-asset-btn">
          <a href="{{ url_for('create_asset') }}">
            <i class="fas fa-plus btn-color"></i>
            Add Asset
          </a>
        </div>
        {% endif %}
        <!-- Search Bar -->
        <!-- Input -->
        <div class="input-field col s12 m12 l6 offset-l3">
          <i class="fas fa-search prefix"></i>
          <input type="text" name="db_query" id="db_query" minlength="2" class="validate search-bar"
            placeholder="E.g VS Code, Tailwind, Unsplash" required>
          <label for="db_query">Search</label>
          <!-- Search Clear Buttons -->
          <button type="submit" class="btn btn-border"><i class="fas fa-search btn-color"></i></button>
          <a href="{{ url_for('get_assets') }}" class="btn btn-solid-red">Clear</a>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="row">
  {% for asset in assets %}
  <div class="col s12 m4 l3 card-container">
    <div class="card">
      <!--Card Category and Edit-->
      <div class="card-header">
        <span class="card-category">
          {{ asset.category_name }}
        </span>
        {% if session.user|lower == asset.asset_creator|lower %}
        <a href="{{ url_for('edit_asset', asset_id=asset._id) }}" class="btn-edit">Edit</a>
        {% endif %}
      </div>
      <div class="card-image waves-effect waves-block waves-light">
        <!--Card Image-->
        {% if asset.asset_image %}
        <img class="activator center-align" src="{{ asset.asset_image }}">
        {% else %}
        <img class="activator center-align" src="../static/images/DP_image_placeholder_black.png" alt="Dev Pool Logo">
        {% endif %}
      </div>
      <div class="card-content">
        <span class="card-title activator">
          <strong>{{ asset.asset_title }}</strong>
          <i class="fas fa-chevron-up btn-color right tooltipped" data-position="top" data-tooltip="Read More"></i>
        </span>
        <a class="btn btn-solid" href="{{ asset.asset_url }}" target="_blank">
          <i class="fas fa-link"></i> Go to site
        </a>
      </div>
      <!--Card Reveal-->
      <div class="card-reveal">
        <!-- Asset Title -->
        <span class="card-title  center-align">
          <h5>{{ asset.asset_title }}</h5>
          <i class="fas fa-chevron-down right btn-color"></i>
        </span>
        <!-- Category -->
        <span>
          Category: {{ asset.category_name }}
        </span><br>
        <!-- Asset Description -->
        <div>
          <p>About: {{ asset.asset_description }}</p>
        </div>
        <br>
        <!-- Asset Creator -->
        <span>
          Shared By: {{ asset.asset_creator  }}
        </span><br>
        <!-- Asset Date -->
        <span>
          Added: {{ asset.date_added  }}
        </span><br>
        <!-- Site Link -->
        <div>
          <a class="btn btn-solid" href="{{ asset.asset_url }}" target="_blank">
            <i class="fas fa-link"></i> Go to site
          </a>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}