{% extends "base.html" %}
    {% block content %}
    <h2 class="center-align">Explore</h2>
    


    <div class="row">
      {% for asset in assets %}
        <div class="col s12 m3">
            <div class="card">
                <!--Card Category and Edit-->
                <div class="card-header">
                  <span class="card-category">
                      {{ asset.category_name }}
                  </span>
                  <a href="" class="btn-edit">Edit</a>
                </div>
                <div class="card-image waves-effect waves-block waves-light">
                    <!--Card Image-->
                  {% if asset.asset_image %}
                    <img class="activator center-align" src="{{ asset.asset_image }}">
                  {% else %}
                    <img class="activator center-align" src="../static/images/DP_image_placeholder_black.png" alt="Dev Pool Logo">
                  {% endif %}
                </div>
                <div class="card-content">
                    <span class="card-title activator">
                      <strong>{{ asset.asset_title }}</strong>
                      <i class="fas fa-chevron-up btn-color right tooltipped"
                      data-position="top" data-tooltip="Read More"></i>
                    </span>
                    <a class="btn btn-solid" href="{{ asset.asset_url }}" target="_blank">
                      <i class="fas fa-link"></i> Go to site
                    </a>
                </div>
                <!--Card Reveal-->
                <div class="card-reveal">
                  <!-- Asset Title -->
                    <span class="card-title  center-align">
                      <h5>{{ asset.asset_title }}</h5>
                      <i class="fas fa-chevron-down right btn-color"></i>
                    </span>
                    <!-- Category -->
                    <span>
                      Category: {{ asset.category_name }}
                    </span><br>
                    <!-- Asset Description -->
                    <div>
                      <p>About: {{ asset.asset_description }}</p>
                    </div>
                    <br>
                    <!-- Asset Creator -->
                    <span>
                      Shared By: {{ asset.asset_creator  }}
                    </span><br>
                    <!-- Asset Date -->
                    <span>
                      Added: {{ asset.date_added  }}
                    </span><br>
                    <!-- Site Link -->
                    <div>
                      <a class="btn btn-solid" href="{{ asset.asset_url }}" target="_blank">
                        <i class="fas fa-link"></i> Go to site
                      </a>
                  </div>
                </div>
              </div>
        </div>
      {% endfor %}
    </div>
   
    {% endblock %}