<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Font Awsome CDN-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <!-- Materialize CSS CDN-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    <!--CSS Stylesheet-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    {% block styles %}
    {% endblock %}
    <title>Dev Pool</title>
</head>
<body>

    <header>

        <!--Top Navbar-->
        <!--Code from: https://materializecss.com/color.html-->
        <nav class="nav-extended text-shadow nav-black">
            <div class="nav-wrapper">
              <a href="{{url_for('get_assets')}}" class="brand-logo">Dev Pool</a>
              <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="fas fa-bars"></i></a>
              <ul class="right hide-on-med-and-down">
                <li class="nav-link"><a href="{{url_for('get_assets')}}">Home</a></li>
                {% if session.user %}
                  <li class="nav-link"><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
                  <li class="nav-link"><a href="{{ url_for('create_asset') }}">Create Asset</a></li>
                  <li class="nav-link"><a href="{{ url_for('create_category') }}">Manage Categories</a></li>
                  <li class="nav-btn btn btn-border"><a href="{{ url_for('signOut') }}">Sign Out</a></li>
                {% else %}
                  <li class="nav-btn btn btn-border"><a href="{{ url_for('signIn') }}">Sign In</a></li>
                  <li class="nav-btn btn btn-solid"><a href="{{ url_for('register')}}">Register</a></li>
                {% endif %}
              </ul>
            </div>
          </nav>
        
          <!--Mobile Side Navbar-->
          <ul class="sidenav grey darken-3 text-shadow" id="mobile-demo">
            <li><h4 class="center-align teal-text darken-4">Dev Pool</h4></li>
            <li><a class="grey-text" href="{{url_for('get_assets')}}">Home</a></li>
            {% if session.user %}
              <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
              <li><a href="{{ url_for('create_asset') }}">Create Asset</a></li>
              <li><a href="{{ url_for('create_category') }}">Manage Categories</a></li>
              <li><a href="{{ url_for('signOut') }}">Sign Out</a></li>
            {% else %}
              <li><a href="{{ url_for('signIn') }}">Sign In</a></li>
              <li><a href="{{ url_for('register')}}">Register</a></li>
            {% endif %}
          </ul>
    </header>
    
    <section>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <div class="row">
              <h4 class="col s12 center-align">{{ message }}</h4>
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
    </section>

    <main class="container">
      {% block content %}
      {% endblock %}
    </main>




    
<!--JQUERY CDN-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js" 
integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<!-- Materialize JavaScript CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<!--JS Scripts-->
<script src="{{ url_for('static', filename='js/script.js')}}"></script>
{% block scripts %}
{% endblock %}
</body>
</html>