{% extends "base.html" %}
{% block content %}

<h4 class="center-align">Edit Asset</h4>

<div class="row form-card-panel">
    <form class="col s12" method="POST" action="{{ url_for('edit_asset', asset_id=asset._id) }}">
        <!-- Asset Title -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-pen prefix btn-color"></i>
                <input id="asset_title" name="asset_title" value="{{ asset.asset_title }}" minlength="2" max="50" type="text" class="validate" required>
                <label for="asset_title">Asset Name</label>
            </div>
        </div>
        <!-- Categories Dropdown -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-folder-open prefix btn-color"></i>
                <select id="category_name" name="category_name" class="validate" required>
                  <option value="" disabled>Select a Category</option>
                    {% for category in categories %}
                        {% if category.category_name == asset.category_name %}
                            <option value="{{ category.category_name}}" selected>{{ category.category_name}}</option>
                        {% else %}
                            <option value="{{ category.category_name}}">{{ category.category_name}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <label for="category_name">Asset Category</label>
            </div>
        </div>
        <!-- Asset Description -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-pen prefix btn-color"></i>
                <textarea id="asset_description" name="asset_description" minlength="10" maxlength="500" class="materialize-textarea validate" required>
                    {{- asset.asset_description -}}
                </textarea>
                <label for="asset_description">Tell us why this is such a useful site!</label>
            </div>
        </div>
        <!-- Asset URL -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-link prefix btn-color"></i>
                <input id="asset_url" name="asset_url" value="{{ asset.asset_url }}" minlength="2" max="100" type="text" class="validate" required>
                <label for="asset_url">Site URL</label>
            </div>
        </div>
        <!-- Date Added -->
        <div class="row">
            <div class="input-field col s12">
                <i class="far fa-calendar-alt prefix btn-color"></i>
                <input id="date_added" name="date_added" value="{{ asset.date_added }}" type="text" class=" datepicker validate" required>
                <label for="date_added">Date Added</label>
            </div>
        </div>
        <!-- Asset Image -->
        <div class="row">
            <div class="input-field col s12">
                <i class="far fa-image prefix btn-color"></i>
                {% if asset.asset_image %}
                    <input id="asset_image" name="asset_image" value="{{ asset.asset_image }}" type="text" class="validate">
                    <label for="asset_image">Site Image (Optional: copy google image link)</label>
                {% else %}
                    <input id="asset_image" name="asset_image" placeholder="No Site Image Provided" type="text" class="validate">
                    <label for="asset_image">Site Image (Optional: copy google image link)</label>
                {% endif %}
            </div>
        </div>
        <!-- Submit Button -->
        <div class="row">
            <div class="col s12 center-align">
                <a href="{{ url_for('get_assets') }}" class="btn btn-border">Cancel Edit</a>
                <button type="submit" class="btn btn-solid">
                    Edit Asset
                </button>
            </div>
        </div>
        <!-- Delete Button -->
        <div class="row">
            <div class="col s12 center-align">
                <!-- Modal Trigger -->  
                <a class="btn-solid-red btn modal-trigger" href="#modal1">Delete Asset</a>
                <!-- Modal Structure -->
                <div id="modal1" class="modal">
                    <div class="modal-content">
                        <h4>Are you sure you want to delete:</h4>
                        <p>{{ asset.asset_title }} ?</p>
                        <a href="{{ url_for('delete_asset', asset_id=asset._id) }}" class="btn btn-solid-red modal-close">Delete Asset</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
  </div>

{% endblock %}